.info-side {
  display: flex;
  justify-content: center;
}

.info-start,
.info-end {
  border: solid 3px rgb(25, 3, 105);
  border-radius: 10px;
  width: 30%;
  margin: 20px;
  padding: 5px;
  background-color: rgb(88, 207, 209);
  align-items: center;
}

.tfl-logo {
  max-width: 6rem;
  margin: 5px;
  border-radius: 5px;
}

.info-start {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  padding-left: 10px;
}

@media only screen and (min-width: 960px) {
  .info-start,
  .info-end {
    display: flex;
    flex-direction: row;
  }
}
